#input{
    border:1px solid rgb(136, 133, 133) ;
    margin:6px;
    margin-bottom:14px;
    height:40px;
    width: 230px;
    border-radius: 5px;
}

#container{
    border: 2px solid rgb(141, 137, 137);
    
    margin:20px;
    width:250px;
    border-radius:7px;
    padding: 5px, 15px;
}

.button-collection{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

}

.buttons{
    height:50px;
    width:50px;
    margin:4px;
    border:2px solid rgb(139, 136, 136);
    border-radius: 7px;
}